<form method="post" action="{{ path('app_contratsponsoring_delete', {'idContrat': contratsponsoring.idContrat}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce Contrat?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contratsponsoring.idContrat) }}">
	<button>Delete</button>
</form>