{% extends 'base.html.twig' %}

{% block title %}New Contratsponsoring{% endblock %}

{% block body %}
    <h1>Create new Contratsponsoring</h1>

    {{ include('contratsponsoring/_form.html.twig') }}

    <a href="{{ path('app_contratsponsoring_index') }}">back to list</a>
{% endblock %}
