{% extends 'baseFrontOffice.html.twig' %}

{% block title %}Proposer un contrat de sponsorisation
{% endblock %}

{% block body %}
	<br/><br/><br/>
	{{ include('contratsponsoring/_form.html.twig') }}

	<a href="{{ path('app_galerie_index') }}">Retour à la lieste des galeries</a>

{% endblock %}