{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row row-clos-2">
            <div class="col-md-4">
                <h1>Ajouter Hotel</h1>
                {{ form_start(form, {attr: { novalidate: 'novalidate'}}) }}
                    {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}