{% extends 'base.html.twig' %}

{% block title %}Edit Photographie
{% endblock %}

{% block body %}
	<h1>Edit Photographie</h1>

	{{ include('photographie/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_photographie_index') }}" class="buttonEdit">back to list</a>

	{{ include('photographie/_delete_form.html.twig') }}
{% endblock %}
