{% extends 'base.html.twig' %}

{% block title %}New Photographie
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row row-clos-2">
			<div class="col-md-4">

				<h1>Create new Photographie</h1>

				{{ include('photographie/_form.html.twig') }}

				<a href="{{ path('app_photographie_index') }}" class="buttonEdit">back to list</a>
			</div>
		</div>
	</div>
{% endblock %}
