{% extends 'baseFrontOffice.html.twig' %}

{% block title %}New Photographie
{% endblock %}

{% block body %}
	<br/><br/><br/>
	<h1>Ajouter une photographie</h1>

	{{ include('photographie/_form.html.twig') }}

	<a href="{{ path('app_photographie_index') }}">Retour à la liste</a>

{% endblock %}