{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row row-clos-2">
            <div class="col-md-4">
                <h1>Modifier Reservation Hotel</h1>
                {{form(form, {attr: { novalidate: 'novalidate'}})}}
            </div>
        </div>
    </div>
{% endblock %}