<!--=========== Loader =============-->
<div id="gen-loading">
	<div id="gen-loading-center">
		<img src="{{ asset('images/myjccLarge1.png') }}" alt="loading">
	</div>
</div>
<!--=========== Loader =============-->