<!DOCTYPE html>
<html>
<head>
  <title>Leaflet Map Example</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
  <style>
    #mapid {
      height: 100vh;
    }
    body {
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>
  <div id="mapid"></div>

  <script>
   function initMap() {
  var mymap = L.map('mapid');
  
  // Try to get the user's current location with high accuracy
  navigator.geolocation.watchPosition(function(position) {
    // If the user's location is found, center the map there
    mymap.setView([position.coords.latitude, position.coords.longitude], 13);
    // Add a marker to the map at the user's location
    var marker = L.marker([position.coords.latitude, position.coords.longitude]).addTo(mymap);
  }, function(error) {
    // If the user doesn't allow geolocation, center the map on Tunis
    console.warn('Error(' + error.code + '): ' + error.message);
    mymap.setView([36.8065, 10.1815], 13);
  }, { enableHighAccuracy: true, timeout: 2000, maximumAge: 0 });
  
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
  }).addTo(mymap);
  
  // List of cinemas in Tunis and their coordinates
  var cinemas = [    ['Ciné Jamil', 36.8101, 10.1652],
    ['Ciné Madart', 36.8003, 10.1823],
    ['Le Colisée', 36.7948, 10.1745],
    ['Cinéma Alhambra', 36.8004, 10.1824],
    ['Ciné La Marsa', 36.8824, 10.3279],
    ['Cinéma Le Palace', 36.7997, 10.1795],
    ['Cinéma Amilcar', 36.7903, 10.1673],
    ['Cinéma Le Rio', 36.7848, 10.1689],
    ['Cinéma Le Mondial', 36.8025, 10.1788],
    ['Cinéma Olympia', 36.7985, 10.1855],
    ['Cinéma El Teatro', 36.7955, 10.1762],
    ['Cinéma Le Tahar Cheriaa', 36.8004, 10.1824],
    ['Cinéma Zephyr', 36.7979, 10.1853],
    ['Cinéma Majestic', 36.7976, 10.1808],
    ['Cinéma ABC', 36.7896, 10.1784]
  ];
  
  // Add markers for each cinema on the map
  for (var i = 0; i < cinemas.length; i++) {
    var marker = L.marker([cinemas[i][1], cinemas[i][2]]).addTo(mymap);
    marker.bindPopup(cinemas[i][0]);
  }
}

initMap();

  </script>
</body>
</html>
