{# {{ include('templateBackOffice/loading.html.twig') }} #}
<!-- Animation roue de chargement, mais ralentit le chargement des pages de 0.7s à 1.1 : Utile pour les pages qui chargent avant les données -->
	<div id="preloader"> <div id="status">
		<div class="spinner-chase">
			<div class="chase-dot"></div>
			<div class="chase-dot"></div>
			<div class="chase-dot"></div>
			<div class="chase-dot"></div>
			<div class="chase-dot"></div>
			<div class="chase-dot"></div>
		</div>
	</div>
</div>
