{% extends 'baseFrontOffice.html.twig' %}

{% block title %}Edit Galerie
{% endblock %}

{% block body %}
	<br/><br/><br/>
	<h1>Edit Galerie</h1>

	{{ include('galerie/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_galerie_show', {'idGalerie': galerie.idGalerie}) }}">Annuler</a>
	{# {{ include('galerie/_delete_form.html.twig') }} #}
{% endblock %}