<form method="post" action="{{ path('app_galerie_admin_delete', {'idGalerie': galerie.idGalerie}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette galerie?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ galerie.idGalerie) }}">
	<button>Delete</button>
</form>